@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
 
<div class="text-center">
    <h1 class="display-4">MI PAGINA PERSONAL</h1>
    <p>Blackboard <a href="https://uniandesec.blackboard.com/ultra/institution-page">UNIANDES</a>.</p>
   
</div>
<div class="container mt-5">
    <img src="~/images/Imagen2.png" alt="yo" class="img-fluid rounded shadow mt-3" style="max-width: 300px;" />
    <h2 class="text-center"> CURRICULUM VITAE DEL ESTUDIANTE</h2>

    <h4 class="mt-4">DATOS PERSONALES</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>Fausto Fernando Gavilanes Procel</td>
            </tr>
            <tr>
                <th>Documento de Identidad</th>
                <td>0201918349</td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <td>27 de febrero de 1989</td>
            </tr>
            <tr>
                <th>Lugar de Nacimiento</th>
                <td>Ecuador, Bolívar, San Miguel</td>
            </tr>
            <tr>
                <th>Estado Civil</th>
                <td>Casado</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>Quito, Víctor Mideros y Los Pinos</td>
            </tr>
            <tr>
                <th>Teléfonos</th>
                <td>0999885630</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>fernando_fbr27@hotmail.com</td>
            </tr>
        </tbody>
    </table>

    <h4 class="mt-5">ESTUDIOS ACADÉMICOS</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Primaria</th>
                <td>Escuela fiscal mixta 10 de Enero</td>
            </tr>
            <tr>
                <th>Secundaria</th>
                <td>Colegio Corina Parral de Velasco Ibarra</td>
            </tr>
            <tr>
                <th>Universidad</th>
                <td>Universidad Autónoma Regional de Los Andes “UNIANDES” <br>(6to nivel de la Carrera de Ingeniería en Software)</td>
            </tr>
        </tbody>
    </table>
</div>